.ui-map {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 300px;
  background: #EFEFEF;
}

.event-data {
  height: 300px;
  position: absolute;
  bottom: 0;
  right: 0;
  left:0;
  padding: 20px;
  overflow: auto;
}

