<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Ember Map Kit</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          {{#bs-dropdown tagName="li"}}
            {{#bs-dropdown-toggle}}Dropdown <span class="caret"></span>{{/bs-dropdown-toggle}}
            {{#bs-dropdown-menu}}
                <li>{{#link-to "maps.ui-google-map"}}Google{{/link-to}}</li>
                <li>{{#link-to "maps.ui-leaflet-map"}}Leaflet{{/link-to}}</li>
            {{/bs-dropdown-menu}}
          {{/bs-dropdown}}
        </ul>
    </div>
</nav>

<div class="container-fluid">
  {{outlet}}
</div>
